body{
    height: 100%;
}
#container{
    position: relative;
}

#nav {
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
    border-bottom: #e0e0e0 solid 1px;
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;

}

#logo{
    position: absolute;
    left: 45%;
    top: 2%;
    color: white;
    z-index: 11;
}

#imageSlider{
    margin: 0 0 0 0;
}

.uber-logo {
    display: inline-block;
    width: 167px;
    height: 23px;
    background: transparent url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/global/logo-web-light@1x.png) no-repeat left top;
    background-size: 167px 23px;
    border: 0;
    overflow: hidden;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

#slide1{
    color: white;
    font-family: 'Roboto', sans-serif;

}

.slide1CopyArea{
    position: relative;
    height: 700px;
    width: 800px;

}

.caption{
    padding: 20px 20px 20px 20px;
    position:absolute;
    top: 60%;
    background: rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.slideLargeText{
    font-size: 300%;
    line-height: 30px;
}

.slideSmallText{
    font-size: large;
}

.body{
    height: 150px;
}

.footer{
    background-color: black;
    height: 50px;
}

.copyrightArea{
    position: relative;
    width: 100%;
    height: 50px;
}

.copyrightContent{
    color: white;
    position: absolute;
    right: 30%;
    top: 30%;
}